.results-container {
  margin: 20px;
}

.result-conclusion {
  background: var(--even-row-background);
  margin: 30px auto;
  padding: 25px;
}

.result-row-container {
  display: flex;
  padding: 2px 20px;
}

.result-row-section {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

.iteration-section {
  width: 100px;
}

.mse-section {
  width: 110px;
}

.weight-section {
  width: 110px;
}

.bias-section {
  width: 100px;
}

.even-row {
  background: var(--even-row-background);
}

.ellipsis {
  padding: 20px;
}
